#cartContainer {
    position: fixed;
    top: 80px;
    right: -50vw;
    width: 50vw;
    height: 100%;
    background-color: #ffffff;
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 1;
    border-radius: 5px;
    box-shadow: -6px -2px 5px rgba(0, 0, 0, 0.2);
  }

  #cartContainer.open {
    right: 0;
  }

  .close-button {
    position: absolute;
    top:0px;
    left: 0px;
    cursor: pointer;
    border-radius:4px;
    border:none;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: .9rem;
    font-family: 'Courier New', Courier, monospace;

  }
  .close-button:hover {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
  }

  .checkout-button {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    border:none;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    position: absolute;
    top:10px;
    right:20px;
    width: 350px;
    z-index: 999;
  }
  .checkout-button:active {
    outline: none;
    border:none;
    transform: translateY(5px);  }


    #notification {
      position:absolute;
      top:90vh;
      right:1%;
      z-index: 5;
      display: none;
      background-color: green;
      color: white;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;;
    }

    #cartItems {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      
    }