.header {
  background-color: var(--primary-color);
  padding: 10px;
  position: sticky;
  top: 0;
z-index: 10000;}

.container {
    height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Arial, sans-serif;
  font-size: 38px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.logo::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffcc00;
  opacity: 0.8;
  z-index: -1;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0.8;
    transform: translateX(100%);
  }
}


.logo {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  right: 25px;
}

.navigation {
  color: #000000;
  display: flex;
  align-items: center;
  height: 30px;
  width: 100vw;
  background-color: rgb(219, 219, 219);
  position: relative;
  /* left: 10vw; */
  text-align: center;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links,.category-link a {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: #181717;
  padding: 5px;
}
.nav-links a{
  color:#000000;
  text-decoration: none;
}
.nav-links li:hover {
  list-style-type: none;
  color: #000000;
  background-color: #b6b6b6;
}
.nav-links a:hover {
  list-style-type: none;
  color: #000000;
}
.category{
  width: 30vw;
  background-color: rgb(244, 248, 248);
}
.category-link {
  list-style-type: none;
  
}
.category-link li   {
  justify-content: center;
  width: 30vw;
  height:40px;
  text-align: center;
  display: flex;
  align-items: center;
  border: #ebe8e8 1px solid;
  padding:30px;
}
.category-link li a   {
  font-size: 1.2rem;
}

.category-link li:hover   {
  background-color: rgb(195, 201, 199);
  color:#b41818;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px;
}

.search-input {
  border: none;
  width: 200px;
  padding: 4px;
  outline: none;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  gap:20px;
}

.account-link {
  text-decoration: none;
  color: var(--text-color);
}

.account-link:hover {
  text-decoration: none;
  color: var(--text-color);
  color:#da3030;
}

.btn-cart:hover{
  background-color: #cac6c6;
  border-radius: 2px;
}

.cart {
  position: relative;
  margin-right: 10px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 0px;
  font-size: 10px;
  width: 15px;
  height: 15px;
  text-align: center;
}
.user-avatar {
  position: relative;
  display: flex;
  width: 20px;
  height: 100px;
  align-items: center;
  gap: 50px;
}

.user-avatar .user-menu {
   z-index: 5;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      position: absolute;
  top: 70px;
  right: -60px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
}

.user-avatar .user-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-avatar .user-menu ul li {
  margin-bottom: 10px;
}

.user-avatar .user-menu ul li a {
  color: #000;
  text-decoration: none;
}
.user-avatar .user-menu ul li a:hover {
    color: #585555;
    text-decoration: none;
  }

.user-avatar .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.user-avatar.active .fa-chevron-down {
  transform: translateY(-50%) rotate(180deg);
}

.user-avatar:hover .user-menu {
  display: block;
}
/* Các phần CSS khác */
.slideshow {
  position: relative;
  width: 100%;
  height: 500px; /* Điều chỉnh chiều cao tự thay đổi của slideshow */
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 500px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}