<!-- Items 1 -->
                            <div class="grid__column-2-4">
                              
                                        <a class="home-product-item" onclick="flipCard(this)">
                                          <div class="product-front">
                                                <!-- Nội dung mặt trước của card -->
                                                <div class="home-product-item__img" style="background-image: url();">
                                                  <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm9rgf51ilen62" alt="">
                                                          <h4 class="home-product-item__name">Kem Dưỡng Ẩm Ban Đêm Thúc Đẩy Tái Tạo Da & Mờ Nếp Nhăn OLAY REGENERIST Chiết Xuất RETINOL24 50G</h4>
                                                    <div class="home-product-item__price">
                                                          <span class="home-product-item__price-old">₫549.000</span>
                                                          <span class="home-product-item__price-new">₫385.000</span>
                                                    </div>  
                                                    <!-- thả tym ngôi sao -->
                                                      <div class="home-product-item__action">
                                                              <span class="home-product-item__like home-product-item__liked">
                                                                <!-- <i class="home-product-item__like-icon-no fa-regular fa-heart" style="color: #414244;"></i> -->
                                                                <i class="home-product-item__like-icon fa-solid fa-heart" style="color: #f00000;"></i>
                                                              </span>     
                                                                <div class="home-product-item__rating">
                                                                  <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                  <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                  <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                  <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                  <i class="fa-regular fa-star-half-stroke" style="color:#ffc800;"></i>
                                                                </div>
                                                                <span class="home-product-item__sold">Đã bán 4.5k</span>
                                                        </div>
                                                        <div class="home-product-item__list-select"> 
                                                          <button onclick="increaseQuantity();addToCart()" type="button" class="btn btn-danger" style="font-size: .7rem; background-color:rgb(253,243,244);color: red;">Thêm giỏ hàng </button>
                                                          <button type="button" class="btn btn-danger" style="font-size: .6rem;">Mua ngay+</button>
                                                        </div> 
                                                        
                                                        <!-- nguồn gốc -->
                                                        <div class="home-product-item__origin">
                                                              <span class="home-product-item__brand" >Whoo</span>
                                                              <span class="home-product-item__origin-name" > America</span>
                                                        </div>
                                                          <!-- ____yêu thích giảm giá -->
                                                          <div class="home-product-item__favourite">
                                                            <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                                                            Yêu Thích
                                              
                                                          </div>
                                                          <div class="home-product-item__sale-off">
                                                                <span class="home-product-item__sale-off-percent" >30%</span>
                                                                <span class="home-product-item__sale-off-label" >GIẢM</span>
                                                          </div>
                                                </div>
                                              </div>
                                              <div class="product-back">
                                                <!-- Nội dung mặt sau của card -->
                                                <h2>Thông tin sản phẩm</h2>
                                                <p>Mô tả sản phẩm</p>
                                              </div>
                                          
                                        </a>
                                        
      
                            
      
                            </div>
                            <!-- Items 1 -->
                            <div class="grid__column-2-4">
                              
                                        <a class="home-product-item" onclick="flipCard(this)">
                                        <div class="product-front">
                                        <!-- Nội dung mặt trước của card -->
                                        <div class="home-product-item__img" style="background-image: url();">
                                          <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lm9ral3kxa73fd" alt="">
                                                  <h4 class="home-product-item__name">Kem Dưỡng Ban Ngày Phục Hồi & Ngăn Ngừa 7 Dấu Hiệu Lão Hóa SPF 15 OLAY TOTAL EFFECTS 50G</h4>
                                            <div class="home-product-item__price">
                                                  <span class="home-product-item__price-old">₫329.000
                                                  </span>
                                                  <span class="home-product-item__price-new">₫285.000</span>
                                            </div>  
                                            <!-- thả tym ngôi sao -->
                                              <div class="home-product-item__action">
                                                      <span class="home-product-item__like home-product-item__liked">
                                                        <!-- <i class="home-product-item__like-icon-no fa-regular fa-heart" style="color: #414244;"></i> -->
                                                        <i class="home-product-item__like-icon fa-solid fa-heart" style="color: #f00000;"></i>
                                                      </span>     
                                                        <div class="home-product-item__rating">
                                                          <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                          <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                          <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                          <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                          <i class="fa-regular fa-star-half-stroke" style="color:#ffc800;"></i>
                                                        </div>
                                                        <span class="home-product-item__sold">Đã bán 4.5k</span>
                                                </div>
                                                <div class="home-product-item__list-select"> 
                                                  <button onclick="increaseQuantity();addToCart()" type="button" class="btn btn-danger" style="font-size: .7rem; background-color:rgb(253,243,244);color: red;">Thêm giỏ hàng </button>
                                                  <button type="button" class="btn btn-danger" style="font-size: .6rem;">Mua ngay+</button>
                                                </div> 
                                                
                                                <!-- nguồn gốc -->
                                                <div class="home-product-item__origin">
                                                      <span class="home-product-item__brand" >Whoo</span>
                                                      <span class="home-product-item__origin-name" > America</span>
                                                </div>
                                                  <!-- ____yêu thích giảm giá -->
                                                  <div class="home-product-item__favourite">
                                                    <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                                                    Yêu Thích
                                      
                                                  </div>
                                                  <div class="home-product-item__sale-off">
                                                        <span class="home-product-item__sale-off-percent" >13%</span>
                                                        <span class="home-product-item__sale-off-label" >GIẢM</span>
                                                  </div>
                                        </div>
                                      </div>
                                      <div class="product-back">
                                        <!-- Nội dung mặt sau của card -->
                                        <h2>Thông tin sản phẩm</h2>
                                        <p>Mô tả sản phẩm</p>
                                      </div>
                                          
                                        </a>
                                        
      
                            
      
                            </div>
                            <!-- Items 1 -->
                            <div class="grid__column-2-4">
                              
                                        <a class="home-product-item" onclick="flipCard(this)">
                                          <div class="product-front">
                                            <!-- Nội dung mặt trước của card -->
                                            <div class="home-product-item__img" style="background-image: url();">
                                              <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-ljahn1337kr6af" alt="">
                                                      <h4 class="home-product-item__name">Sữa Dưỡng Thể Olay B3 Bright Ultra Whitening dưỡng trắng , dưỡng ẩm toàn thân , bản cải tiến mới nhất / Subeo Beauty</h4>
                                                <div class="home-product-item__price">
                                                      <span class="home-product-item__price-old">₫145.000</span>
                                                      <span class="home-product-item__price-new">₫100.000</span>
                                                </div>  
                                                <!-- thả tym ngôi sao -->
                                                  <div class="home-product-item__action">
                                                          <span class="home-product-item__like home-product-item__liked">
                                                            <!-- <i class="home-product-item__like-icon-no fa-regular fa-heart" style="color: #414244;"></i> -->
                                                            <i class="home-product-item__like-icon fa-solid fa-heart" style="color: #f00000;"></i>
                                                          </span>     
                                                            <div class="home-product-item__rating">
                                                              <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                              <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                              <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                              <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                              <i class="fa-regular fa-star-half-stroke" style="color:#ffc800;"></i>
                                                            </div>
                                                            <span class="home-product-item__sold">476
                                                              Đã Bán</span>
                                                    </div>
                                                    <div class="home-product-item__list-select"> 
                                                      <button onclick="increaseQuantity();addToCart()" type="button" class="btn btn-danger" style="font-size: .7rem; background-color:rgb(253,243,244);color: red;">Thêm giỏ hàng </button>
                                                      <button type="button" class="btn btn-danger" style="font-size: .6rem;">Mua ngay+</button>
                                                    </div> 
                                                    
                                                    <!-- nguồn gốc -->
                                                    <div class="home-product-item__origin">
                                                          <span class="home-product-item__brand" >Whoo</span>
                                                          <span class="home-product-item__origin-name" > America</span>
                                                    </div>
                                                      <!-- ____yêu thích giảm giá -->
                                                      <div class="home-product-item__favourite">
                                                        <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                                                        Yêu Thích
                                          
                                                      </div>
                                                      <div class="home-product-item__sale-off">
                                                            <span class="home-product-item__sale-off-percent" >10%</span>
                                                            <span class="home-product-item__sale-off-label" >GIẢM</span>
                                                      </div>
                                            </div>
                                          </div>
                                          <div class="product-back">
                                            <!-- Nội dung mặt sau của card -->
                                            <h2>Thông tin sản phẩm</h2>
                                            <p>Mô tả sản phẩm</p>
                                          </div>
                                                                                  
                                        </a>
                                        
      
                            
      
                            </div>
                            <!-- Items 1 -->
                            <div class="grid__column-2-4">
                              
                                        <a class="home-product-item" onclick="flipCard(this)">
                                            <div class="product-front">
                                              <!-- Nội dung mặt trước của card -->
                                              <div class="home-product-item__img" style="background-image: url();">
                                                <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7r98o-lkul035qy37k7c" alt="">
                                                        <h4 class="home-product-item__name">[HÀNG THÁI LAN] Sữa Tắm Olay B3 Nội Địa Thái Retinol/Peptide/Vitamin C Dưỡng Ẩm Sáng, Trắng Da Chống Lão Hóa</h4>
                                                  <div class="home-product-item__price">
                                                        <span class="home-product-item__price-old">₫260.000
                                                        </span>
                                                        <span class="home-product-item__price-new">₫240.000</span>
                                                  </div>  
                                                  <!-- thả tym ngôi sao -->
                                                    <div class="home-product-item__action">
                                                            <span class="home-product-item__like home-product-item__liked">
                                                              <!-- <i class="home-product-item__like-icon-no fa-regular fa-heart" style="color: #414244;"></i> -->
                                                              <i class="home-product-item__like-icon fa-solid fa-heart" style="color: #f00000;"></i>
                                                            </span>     
                                                              <div class="home-product-item__rating">
                                                                <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                <i class="fa-solid fa-star" style="color: #ffc800;"></i>
                                                                <i class="fa-regular fa-star-half-stroke" style="color:#ffc800;"></i>
                                                              </div>
                                                              <span class="home-product-item__sold">Đã bán 4.5k</span>
                                                      </div>
                                                      <div class="home-product-item__list-select"> 
                                                        <button onclick="increaseQuantity();addToCart()" type="button" class="btn btn-danger" style="font-size: .7rem; background-color:rgb(253,243,244);color: red;">Thêm giỏ hàng </button>
                                                        <button type="button" class="btn btn-danger" style="font-size: .6rem;">Mua ngay+</button>
                                                      </div> 
                                                      
                                                      <!-- nguồn gốc -->
                                                      <div class="home-product-item__origin">
                                                            <span class="home-product-item__brand" >Whoo</span>
                                                            <span class="home-product-item__origin-name" > America</span>
                                                      </div>
                                                        <!-- ____yêu thích giảm giá -->
                                                        <div class="home-product-item__favourite">
                                                          <i class="fa-solid fa-check" style="color: #ffffff;"></i>
                                                          Yêu Thích
                                            
                                                        </div>
                                                        <div class="home-product-item__sale-off">
                                                              <span class="home-product-item__sale-off-percent" >8%</span>
                                                              <span class="home-product-item__sale-off-label" >GIẢM</span>
                                                        </div>
                                              </div>
                                            </div>
                                            <div class="product-back">
                                              <!-- Nội dung mặt sau của card -->
                                              <h2>Thông tin sản phẩm</h2>
                                              <p>Mô tả sản phẩm</p>
                                            </div>
                                          
                                        </a>                
                            </div>