/* CSS Thân web Nội dung chính của trang web */
body{
  font-weight: 700;
}
.Icon{
  display: inline;
  flex-direction: column;

}
.grid__full-width{
  width: 100%;
}
.grid{
  width:90vw;
  max-width: 100%;
  margin: 0 auto;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}
.list__items-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid__column-2{
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
  
}
.grid__column-2-4{
  /* padding-left: 12px; */
  padding-right: 12px;
  width: 100%;


}
.grid__column-10{
  padding-left: 12px;
  padding-right: 12px;
  width: 83.3334%;
}

.Category__heading{
  display: flex;
  white-space: nowrap;
  align-items: center;
  font-size: 22px;
  margin-top: 0;
  padding: 14px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.05) ;
}
.App__Container{
  background-color: rgb(209, 214, 217);
}
.App__Content{
  padding-top: 30px;
}
.Category{
  background-color: white;
  border-radius: 4px;
  
  height: 99%;
  /* height: 116.5vh; */
}
.Category-item--active .Category-item__link::before{
  top:15px;
  left:4px;
  content: "";
  position: absolute;
  border: 4px solid;
  border-color: transparent transparent transparent  red;
}
.Category__heading-icon{
  font-size: 1.2rem;
  margin-right: 4px;
}
.Category-list{
 list-style: none;
 padding:0 0 8px 0;
 
}
.Category-item__link{
position: relative;
text-decoration: none;   
color: rgb(63, 64, 65);
display: block;
padding: 5px 10px;
transition: right linear 0.4s;
right: 0;
font-size: 1.2rem;
}
.Category-item__link:hover {
  right: -4px;
  color: red;
}
/* css home sort filter */
.form-select{
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
.home-filter{
  display: flex;
  align-items: center;
  padding: 12px 22px ;
  border-radius: 4px;
  background-color:deeppink;
 justify-content: space-around;
}
.home-filter__label{
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.btn{
  min-height: auto;
  min-width: 90px;
}

/* columer 10 */

/* css home sort filter */
.grid__column-2-4{
  display: flex;
  flex-direction: row;
  margin: 10px 10px;
 
}
.form-select{
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
.home-filter{
  display: flex;
  align-items: center;
  padding: 12px 22px ;
  border-radius: 4px;
  background-color:deeppink;
 justify-content: space-around;
}
.home-filter__label{
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.btn{
  min-height: auto;
  min-width: 90px;
}
/* CSS cho item card sp */
.home-product-item {
  flex:1;
  min-width: 48%; 
  background-color: rgb(211, 195, 195);
  margin-top: 10px;
  position: relative;
  /* width: 193px;
  height: 318px; */
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
  margin-right: 10px;
  transition: transform;
  
}

.home-product-item:hover{
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0  rgba(0,0,0,.1) ;
}

.product-front, .product-back {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.6s;
  backface-visibility: hidden;
}

.product-front {
  background-color: #ccc;
}

.product-back {
  background-color: #fff;
  transform: rotateY(180deg);
}

.home-product-item.flipped .product-front {
  transform: rotateY(180deg);
}

.home-product-item.flipped .product-back {
  transform: rotateY(0deg);
}
.home-product-item__name{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0 10px;
  
}
.home-product-item__img{
  width:350px;
  height: 400px;
  background-color: #aa5353;
}
.home-product-item__img img{
  width:100%;
  height:100%;
}
.home-product-item__price    {
display: flex;
margin-left: 10px;
}
.home-product-item__price-old{
font-size: .9rem;
color: #666;
text-decoration: line-through;
}
.home-product-item__price-new{
  font-size: 1.1rem;
  color: rgb(255, 0, 0);
  margin-left: 4px    ;
}
.home-product-item__action     {
display: flex;
justify-content: space-between;
margin: 0 10px;
font-size: .6rem;
}
.home-product-item__like      {

}
/* i.home-product-item__like-icon{
  display: none;
} */
.home-product-item__rating     {
margin-left: auto;
}
.home-product-item__list-select{
  display: flex;
  justify-content: space-around;
 
}
.btn-Them{
margin-right: 10px;
}
.btn-Mua{
margin-left: 10px;
}
.home-product-item__sold{
  font-size: .7rem;
}
.home-product-item__origin     {
display: flex;
justify-content: space-between;
margin: 0px 10px;
color: #a99595;
font-size: .9rem;
}
.home-product-item__brand{

}
.home-product-item__origin-name{

}
.home-product-item__favourite   {
position:absolute;
top: 8px;
left: -4px;
color: white;
font-weight: 500px;
background-color:deeppink ;
padding-right: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.home-product-item__favourite::after{
  content: "";
  position:absolute ;
  left: 0;
  bottom: -3px;
  border-top: 5px solid #850363;
   border-left:  3px solid transparent;
}
.home-product-item__favourite i{
 margin-left: 4px; 
 font-size: .8rem;
}
.home-product-item__sale-off  {
position: absolute;
top: 0;
right: 0;
width: 40px;
height: 36px;
text-align: center;
background-color:rgba(255,228,4,0.94) ;
font-weight: 500;
text-align: center;
}
.home-product-item__sale-off::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  right: 1px;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent rgba(255,228,4,0.94) transparent rgba(255,228,4,0.94);
}
.home-product-item__sale-off-percent{
color: red;
position: relative;
top: -1px;

}
.home-product-item__sale-off-label{
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: white;
  position: relative;
  top: -10px;
  
}








  /* Hover */
  .product-card-img:hover {
    transform: translateY(-5%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
  }
  
  .product-card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
  }

  .marquee-container {
    margin-left:5vw;
    margin-top:10px;
    width: 90vw;
    height:30px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #1b1a1a;
    color:#FF6DB4;
}

.marquee-content {
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}



.info  {
  background-color: #cbb5b5;
  width: 90vw;
  z-index: 10;
  position: absolute;
  top: 550px;
}


.card {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #ffffff;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* thông tin sản phẩm 
 */
 .product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  height:563px;
}

.product-image {
  flex: 0 0 200px;
  margin-right: 20px;
  display: flex;
}

.product-image img {
  width: 100px;
  border-radius: 8px;
}

.product-info {
  flex: 1;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.product-section {
  flex: 1;
  margin-right: 20px;
}

.product-section-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-ingredient-list,
.product-benefit-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-ingredient-list li,
.product-benefit-list li {
  margin-bottom: 5px;
}